<component name="ArtifactManager">
  <artifact type="war" name="SpringBootPrimeFaces:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringBootPrimeFaces.war">
      <element id="artifact" artifact-name="SpringBootPrimeFaces:war exploded" />
    </root>
  </artifact>
</component>